* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    color: #eef1f2 !important;
    background: linear-gradient(135deg, #119ce1 10%, #764ba2 100%);
}

.color {
    background: linear-gradient(135deg, #119ce1 10%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* For Firefox (needs experimental flag) */
}

.toggle-password {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password input {
    flex: 1;
}

.toggle-password span {
    position: absolute;
    right: 12px;
    cursor: pointer;
}

.bg-official {
    background: linear-gradient(135deg, #119ce1 10%, #764ba2 100%);
    /* min-height: 100vh; */
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
}

.link {
    color: #119ce1 !important;
    text-decoration: none;
    transition: color 0.1s ease;
}

.link:hover {
    color: green !important;
    text-decoration: underline;
    /* transition: color 0.3s ease; */
}

.bg-image {
    background-image: url("../images/school.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.library {
    background-image: url("../upload/library/library.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.width {
    min-width: 50% !important;
}

@media screen and (max-width: 1024) and (min-width: 320) {
    .width {
        width: 50%;
        background-color: bisque;
    }

    .sidebar {
        height: calc(100vh - 56px);
        /* Adjusting for a fixed navbar height */
        background-color: #fff;
        padding: 1rem;
        position: fixed;
        /* top: 56px; */
        left: 0;
        width: 250px;
        overflow-y: auto;
        transition: transform 0.3s ease-in-out;
        border-right: 1px solid #dee2e6;
        /* z-index: 1000; */
    }

    .main-content {
        margin-left: 250px;
        padding-top: 56px;
    }

    .sidebar {
        transform: translateX(-100%);
    }
}

.sidebar {
    height: calc(100vh - 56px);
    /* Adjusting for a fixed navbar height */
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    /* top: 56px; */
    left: 0;
    width: 250px;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    border-right: 1px solid #dee2e6;
    z-index: 1000;
}

/* State when the button is clicked on mobile: visible */
.sidebar.show-sidebar {
    transform: translateX(0);
}

.main-content {
    margin-left: 250px;
    padding-top: 56px;
}

li:hover {
    background: linear-gradient(135deg, #119ce1 10%, #764ba2 100%);
    color: white;
}

.button {
    margin: 0%;
    padding: 0%;
    border: none;
}
.transparent {
    background: transparent;
}

.bordercustom {
    border-width: 4px; /* This sets the border thickness to 10px */
    border-style: solid;
    border-color: transparent; /* This creates the space for the gradient */
    border-image: linear-gradient(135deg, #764ba2 10%, #119ce1 100%) 1;
}
button:hover {
    /* border-image: linear-gradient(135deg, #764ba2 10%, #119ce1 100%) 1; */
    background: linear-gradient(135deg, #119ce1 10%, #764ba2 100%);
}
